  <div>
    <h2><%= @menu.name %></h2>
    <h3><%= @menu.description %></h3>
    <div class="menu_cart__container">

    <%= render partial: "menu_items" %>
    <%= render partial: "cart" %>
    </div>
  </div>
