.menu_items_table {
  width: 80%;
}
.menu_cart__container {
  display: flex;
}
.cart__container {
  width: 50%;
  outline: 1px solid;
}

.menu_list {
  border: 1px solid;
}

.menu_list_item {
  border: 1px solid;
}
